/* TABLETS - 992 PARA ABAJO */

@media (max-width:992px) {
    header{
        height: 20px;
    }

    body{
        max-width: 992px;
    }

    .navbar{
        gap: 10px;
    }

    /* .navbar-list{
        display: none;
    } */

    .Logo1{
        height: 15px;
        padding: none;
    }

    #hero{
        max-width: 992px;
        margin-top: none;
        padding: none;
    }

    .hero-info h1{
        font-size: 20px;
    }









}